

   *{margin:0; padding:0;}
    /* header , footer --> iframe*/
    iframe.h,iframe.f { 
        overflow:hidden; border:none;
    }
    .footer{
        color:gray; font-size:8pt; margin-left:5px;
    }
   img.header_image{
    padding:0; margin-bottom:5px;
    margin-left:10px; margin-top:10px;
   }
    ul.header_a {
       list-style-type:none;overflow:hidden; position:fixed; right:10px;
       margin-left:0; padding:0; display:inline-block;
    }
    ul.header_a li{
         margin-right:5px;
       float:left;
    }
    ul.header_a li a{text-decoration: none; color:gray; font-size:9pt;}
    ul.header_b{
       clear:left;  list-style-type:none;overflow:hidden;
       margin:0; padding:0;  display:block; text-align:center; background-color:lightgray;
    }
    ul.header_b li{
        display:inline-block; margin-right:20px; font-weight:bold; 
    }
    
 div.slideShow ul{
    list-style-type:none;
 }
 
 ul.slidelist li img {width:100%;}
 .join_content {
     margin-top:50px;
 }


/*
    login from
*/
.login {display: flex;
    height: 100vh;
    justify-content: center;
    align-items : center;
			background:white;}
form[name="loginForm"] ul {
        list-style-type:none;
    }
    .login .top li { padding:0 0 30px;}
    .login .top li label {display: inline-block; width:90px; font-size:20px; color:black; font-family:dotum; font-weight:bold; margin:0 0 0 90px;}
     .login .top li input[type="text"],
     .login .top li input[type="password"] {width:200px; height:27px; padding:0; border-color:black;}
     .login .top li .btn_style1 {display:inline-block; width:400px; height:50px;
                                background:#BCFF66; text-align:center; font-family:dotum; color:white; font-size:25px; font-weight:bold; 
                                margin:0 0 0 50px;}
     .login .btm .btm_span .span1 {margin:0 0 0 90px;}
     .login .btm .btm_span .span2 {margin:0 0 0 50px;}  
     .login .btm .btm_span .span3 {margin:0 0 0 50px;}                            
    
    /*
        join form
    */
    .fieldset{ margin:25% 30%;}
    .legend{ margin:0 0 0 240px;}
    .join { margin:30px 0 0 220px;}
    form[name="joinForm"] ul {
        list-style-type:none;
    }
    .content .top li { padding:0 0 20px;}
    .content .top li label { display:inline-block; width:150px; color:black; font-family:dotum; font-size:20px; font-weight:bold;}
     .content .top li input {width:220px; height:27px; padding:0; border-color:black;}
     .content .top span input { width:64px; height:27px; padding:0; border-color:black;}
